{% extends 'base.html' %}

{% block title %}Registro - YaListas{% endblock %}

{% block content %}
    <div>
        <h2>Crear una nueva cuenta</h2>
        <p>Únete para poder añadir juegos y dejar tus listas y opiniones.</p>

        <form method="post" action="">
            {% csrf_token %}
            
            {{ form.as_p }}

            <button type="submit">Registrarme</button>
        </form>

        <p>¿Ya tienes cuenta? <a href="{% url 'usuarios:login' %}">Inicia sesión aquí</a>.</p>
    </div>
{% endblock %}